<div id="categoryModal" class="fixed inset-0 bg-black bg-opacity-30 flex items-center justify-center z-50 hidden">
  <div class="bg-white rounded-lg p-6 min-w-[300px]" onclick="event.stopPropagation()">
    <h2 class="text-xl font-bold mb-4" id="categoryName"></h2>
    <div class="space-y-2"  id="checkboxesForCategoryModal">
      <!-- Checkboxes will be inserted here -->
    </div>
    <div class="flex items-center gap-2">
      <div>
        <input type="checkbox" checked disabled/> 
      </div>
      <input type="text" name="item[name]" required placeholder="New todo..." class="flex-grow text-lg focus:outline-none" id="itemName">
      <input type="hidden" name="category_id" id="categoryId">
      <div class="flex gap-3">
        <button class="p-2" onclick="createItem()">
          <i data-lucide="check"></i>
        </button>
      </div>
    </div>
    
    <button class="mt-4 px-4 py-2 bg-emerald-200 rounded" onclick="closeCategoryModal()">Close</button>
  </div>
</div>

<script>
  function closeCategoryModal() {
    document.getElementById('categoryModal').classList.add('hidden');
  }
  function openCategoryModal(event, id) {
    if (event.target.tagName === 'INPUT') return;
    const card = event.currentTarget;
    const modal = document.getElementById('categoryModal');
    const checkboxesToDuplicate = card.querySelector('.checkboxesToDuplicate');
    const checkboxesForCategoryModal = document.getElementById('checkboxesForCategoryModal');
    checkboxesForCategoryModal.innerHTML = checkboxesToDuplicate.innerHTML;
    const categoryName = card.querySelector('h2').textContent;
    document.getElementById('categoryName').textContent = categoryName;
    if (modal) modal.classList.remove('hidden');
    document.getElementById('categoryId').value = id;
  }

  function createItem() {
    const item = {
      name: document.getElementById('itemName').value,
      category_id: document.getElementById('categoryId').value
    }
    fetch(`/categories/${item.category_id}/items`, {
      method: 'POST',
      body: JSON.stringify({ item, hush_key: "<%= @user.hush_key %>" }),
      headers: {
        'Content-Type': 'application/json',
        'X-CSRF-Token': "<%= form_authenticity_token %>",
        'Accept': 'application/json'
      }
    }).then(response => response.json()).then(data => {
      const container = document.getElementById('checkboxesForCategoryModal')
      const categoryId = document.getElementById('categoryId').value
      const html = `
        <div class="flex items-center gap-2 incompleteTask" id="task-${data.id}">
          <input type="checkbox" onclick="updateItem(${categoryId}, ${data.id}, true)">
          <span>${data.name}</span>
        </div>
      `
      container.innerHTML += html
      document.getElementById('itemName').value = ''
      document.getElementById('category-' + categoryId).querySelector('.checkboxesToDuplicate').innerHTML += html
    });


  }
</script>
