<div class="w-full justify-items-center relative">
  <img src="/images/<%= @room.level %>.png" />
  <img
    src="/images/<%= @room.character %>/idle/0.png"
    class="absolute top-[176px] left-[589px]"
  />
</div>

